@model IEnumerable<WebApplication1.Models.BagOfData>

@{
    ViewData["Title"] = "Privacy Policy";
    //var currentUser = Model.Where(x => x.id == @itemid.ToString()).First();
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">   
    {
        <table>
            <tr>
                <th>User ID</th>
                <th>User Email</th>
            </tr>
            <tr>
            <!--<td>currentUser.id</td>-->
            <!--<td>currentUser.email</td>-->
            </tr>
        </table>
    }
</div>
